-f https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cpu
torchvision==0.7.0+cpu
opencv-contrib-python
scikit-image==0.16.2
scikit-learn
scipy
matplotlib



# Needed to download model
requests
